/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Corpo da página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

/* Cabeçalho */
header.cabecalho {
  font-family: 'Snap ITC', cursive;
  width: 100%;
  background-color: #38a5ff;
  color: white;
  text-align: left;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Ícones do cabeçalho */
.header-icons {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.header-icons i:hover {
  color: #006cc5;
  transform: translateY(-13%) scale(1.1);
}

/* Container principal: menu + conteúdo */
.container {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 90px); /* Ajusta altura para footer */
}

/* Estilo das caixas (boxes) */
.box {
    background-color: #38a5ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.box:hover {
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
    background-color: #3099ef; /* Cor mais escura ao passar o mouse */
}

/* Estilo do título e parágrafo de introdução */
.intro-text {
    text-align: center;
    margin-top: 40px; /* Espaço entre as caixas e o título */
}

.intro-text h1 {
    color: #38a5ff;
    font-size: 36px;
}

.intro-text p {
    font-size: 18px;
    color: #555;
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align:center;
    padding: 3px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 0.9em;
    margin-top: 200px;
}

/* Responsividade: Ajuste para telas menores */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .container {
        grid-template-columns: 1fr 1fr; /* Duas colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; /* Uma coluna em telas muito pequenas */
    }
}
