* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}

/* Cabeçalho do site */
header.header {
    width: 100%;
    background-color: #38a5ff;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Formulário de Cadastro */
.cadastro {
    background-color: white;
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cadastro h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f4f4f4;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #38a5ff;
    outline: none;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #38a5ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Rodapé */
footer.footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-size: 1em;
}

/* Responsividade */
@media (max-width: 768px) {
    .cadastro {
        padding: 20px;
    }

    header.header {
        font-size: 24px;
    }
}
