/* Reset de margens, paddings e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

/* Cabeçalho do site */
header.cabecalho {
    font-family: 'Snap ITC', sans-serif;
    width: 100%;
    background-color: #38a5ff;
    color: white;
    text-align: left;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;

}

/* Container geral (menu e conteúdo principal) */
.container {
    display: flex;
    flex: 1;
}

/* Menu lateral */
nav.menu {
    width: 15%;
    background-color: #38a5ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Links do menu */
nav.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s, border-radius 0.3s;
}

/* Hover dos links */
nav.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

/* Área principal para o conteúdo da tabela */
.main-content {
    flex: 1;
    padding: 30px;
    overflow-x: auto;
}

/* Título da tabela */
.titulo-tabela {
    font-family: 'snap ITC', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #2e8fde;
    margin-bottom: 20px;
    text-align: center;
}


/* Estilos da tabela */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /* Para que as bordas internas fiquem finas */
    background: white;
    border-radius: 10px; /* Borda externa arredondada */
    border: 1px solid #ddd; /* Borda externa da tabela */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Borda interna fina para células */
th, td {
    border: 1px solid #ddd; /* Borda fina interna */
    padding: 15px;
    text-align: center;
}

/* Cabeçalho */
th {
    background: #38a5ff;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 0; /* Borda arredondada apenas na parte superior da tabela */
}

tr:nth-child(even) {
    background: #f1f1f1;
}

td[contenteditable="true"] {
    background-color: #ececec;
    cursor: text;
}

td:first-child {
    background-color: #38a5ff;
    color: white;
    font-weight: bold;
}

/* Botões */
button {
    margin: 15px 0;
    padding: 12px 18px;
    background-color: #38a5ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.02); /* Efeito de aumento */
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    width: 100%;
    font-size: 0.9em; /* Corrigido para tamanho legível */
}
